<h1>Restaurants</h1>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <p>
    <%= link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>

<%= link_to "New restaurant", new_restaurant_path %>


<% @restaurants.each do |restaurant| %>
  <div class="card shadow mb-2 text-shadow-bold">
    <div class="card-body py-1" style="background-color: #A2678A;">
      <h4 class="mb-2"><%= link_to restaurant.name, restaurant_path(restaurant), class: "text-white text-decoration-none" %></h4>
    </div>
  </div>
<% end %>
